body {
  width: 100%;
  height: 826px;
  left: 0px;
  top: 0px; 
  background: #F7F8FC;
}

main {
  width: 89%;
  height: 683px;
  background: #FFFFFF;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  margin-top: 29px;
  margin-left: auto;
  margin-right: auto;
}

.back-bar {
  width: 100%;
  height: 88px;
  display: flex;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
}

.btn-back {
  display: flex;
  width: 101px;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  margin-left: 56px;
  background: none;
  border: none;
  opacity: 0.64;
}

.btn-back:hover {
  cursor: pointer;
}

.back-icon {
  width: 40px;
  height: 40px;
}

.back-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 144%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #495057;
}

.title-list {
  width: 267px;
  height: 30px;
  margin-top: 53px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 124%;
  text-align: center;
  color: #244677;
}

.btn-new-contact {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 40px;
  padding: 16px 24px;
  gap: 10px;
  width: 231px;
  height: 56px;
  background: #4263EB;
  border-radius: 8px;
  border: 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 148%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.top-contact-list {
  display: flex;
  justify-content: space-between;
  margin: auto 56px;
}

.table-contact-list {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

tbody {
  border-top: 2px solid #ADB5BD;
}

tbody tr:nth-child(odd) {
  background-color: #F1F3F5;
}

.header-table {
  height: 80px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  text-align: left;
  letter-spacing: -0.02em;
  color: #244677;
}

.col-h-01 {
  text-align: center;
  padding-right: 40px;
}
.col {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 148%;
  letter-spacing: -0.02em;
  color: #495057;
}

.col-01 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 148%;
  padding-right: 40px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #244677;
}

.row-body {
  height: 64px;
}

.chevron {
  margin-left: 9px;
  margin-bottom: 5px;
}

table, th, td {
  border-collapse: collapse;
}

.icons {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 9px;
}

.btn-actions {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #495057;
}

.btn-name {
  background: none;
  border: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 148%;
  letter-spacing: -0.02em;
  color: #495057;
}

.btn-name:hover {
  cursor: pointer;
  text-decoration:underline;
}
